# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
npm-debug.log

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log


#----------------------------------------------------------------------------
# MISC
#----------------------------------------------------------------------------
.*cache
*.log
cache/*
backup
_files
log
log/**/*
.monitor
Forwardfile

# SASS
*.sassc

# NODE
.node_modules
node_modules
*/node_modules
/node_modules/*

# Don't check in secret files
*secret.js

# IDE
.settings/
.vscode/*
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.swo
modules/.settings
modules/.vscode
.scannerwork/

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db