#container {
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

#header {
    height: 550px;
    width: 950px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    background-image: url(http://www.hdwallpapers.in/walls/steve_jobs-wide.jpg);
    background-size:cover;
}

#quato {
    height: 75px;
}

#text {
text-align: center;
font-family:'Pacifico', cursive;
font-size: 25px;
}

p span {
    border: 0 solid black;
    padding: 12px;
    position: relative;
    background-color: white;
}

#bio-header { 
    background: url(http://allaboutstevejobs.com/bio/bio-header.jpg) no-repeat;
    top:10px;
    left:150px;
    position: relative;
}
.subsection-header {
    line-height: 120px;
    padding-left: 30px;
    font-size: 50px;
    color: #ececec;
    font-weight: bold;
    height: 120px;
    width: 768px;

}
#content {
    width: 1100px;
    height: 900px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
}

#main-content {
    height: 700px;
    width: 800px;
    background-color:brown;
}

#side-content {
    height: 700px;
    width: 290px;
    background-color: white;
    float: right;
    clear: both;
    position: relative;
    bottom: 680px;

}
.event-date {
    width: 100px;
    height:7px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    border-top: 2px solid #ccc;
    margin: -1px 0 0 0;
    padding: 4px 5px 6px 0;
    float: left;
    clear: left;
    font-weight: bold;
}

.event-date-first-child {
    border-top: 1px solid #ccc;
    margin-top: 0;
}
.event-desc-nth-child {
    border-bottom: 1px solid #ccc;
}

.event-desc {
    width: 625px;
    background: #f9f9f9;
    float: left;
    margin: 0;
    padding: 8px 12px 8px 8px;
    border-top: 1px solid #ccc;
    clear: right;
    font-size: 14px;
}
#footer {
    background-color:#ececec;
    height: 200px;
}

#quote {
    font-family: 'Pacifico', cursive;
    text-align:center;
    font-size: 24px;
    position: relative;
    top:5px;
    left: 150px;
}